<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Belt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-around">
        <div class = "col-4 my-5">
            <form action ="/register" method="post">
                <h2 class = "text-center">Register</h2>
                {%csrf_token%}
                <div class = "form-group">
                    <label for = "first_name">First Name</label>
                    <input type = "text" name = "first_name" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'first_name error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class = "form-group">
                    <label for = "last_name">Last Name</label>
                    <input type = "text" name = "last_name" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'last_name error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class = "form-group">
                    <label for = "email"> Email</label>
                    <input type = "text" name = "email" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'email error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class = "form-group">
                    <label for = "password">Password</label>
                    <input type = "password" name = "password" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'password error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class = "form-group">
                    <label for = "confirm">Confirm Password</label>
                    <input type = "password" name = "confirm" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'confirm error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <input type = "submit" value = "Register" class = "btn-btn primary btn-outline-dark">
            </form>
        </div>
        <div class = "col-4 my-5">
            <form action ="/login" method="post">
                <h2 class = "text-center">Login</h2>
                {%csrf_token%}
                <div class = "form-group">
                    <label for = "login_email">Email:</label>
                    <input type = "text" name = "login_email" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'login error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class = "form-group">
                    <label for = "login_password">Password::</label>
                    <input type = "password" name = "login_password" class = "form-control">
                    <span class = "text-danger">
                        {% for message in messages %}
                            {% if message.tags == 'login error' %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <input type ="submit" value="Login" class="btn btn-success btn-outline-primary">
            </form>
    </div>
    <!-- <div class ="col-md5 mx-auto text-danger">
        {% for message in messages %}
        {{message.tags}}
        <p class = "text-center">{{message}}</p>
        {% endfor %}
    </div> -->
    <script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" async></script>
</body>
</html>